<div class="card border-0 outline-2">
    <img src="https://via.placeholder.com/400x150.png/FFB5EB/EC00B5?text=Mathematics" class="card-img-top" alt="subject">
    <a href="https://google.co.in" class="stretched-link"></a>
</div>
<%- include('progress', {w: '50%'}) %>
<%- include('progress', {w: '50%'}) %>
