<div class="card border-2 mb-3">
    <div class="card-body p-4">
        <div class="row">
            <div class="col-6">
                <h2 class="fs-3 text-dark mb-0">Study</h2>
                <p class="fw-bold fs-1 mb-0">
                    <span contenteditable>25</span>:<span contenteditable>00</span>
                </p>
            </div>
            <div class="col-6">
                <h2 class="fs-3 text-dark mb-0">Break</h2>
                <p class="fw-bold fs-1 mb-0">
                    <span contenteditable>25</span>:<span contenteditable>00</span>
                </p>
            </div>
        </div>
        <button class="btn btn-primary text-white mt-2">Start</button>
    </div>
    <div class="card-footer border-2 bg-white text-light p-3">
        <% for(let i=0; i < 5; i++) { %>
            <i data-feather="circle" width="1.25rem" height="1.25rem" class="text-center ms-1" fill="#D1D1D1"
                stroke-width="2"></i>
            <% } %>
    </div>
</div>
