<div class="col-4 px-0">
    <div class="card border-0 h-100 outline-2">
        <div class="card-header bg-white border-2 py-2 px-4">
            <h1 class="fs-4 mb-0"><%= section.chapter %></h1>
        </div>
        <div class="card-body py-3 px-4">
            <div class="mb-4">
                <h2 class="card-title text-secondary fs-5">Pre-requisites</h2>
                <p class="card-text fw-bolder fs-5 px-2 py-1 chapter-gradient d-inline">Chapter A</p>
            </div>
            <div>
                <h2 class="card-title text-secondary fs-5 mb-1">Last studied</h2>
                <p class="card-text fw-bolder fs-5">12 days ago</p>
            </div>
        </div>
    </div>
</div>
<div class="col-8 d-flex flex-wrap px-0">
    <% section.topics.forEach(topic => { %>
        <div class="col-6">
            <%-include('topic', {topic, todos: true, background: '#FFF'}) %>
        </div>
    <% }) %>
</div>
