$body-bg: #F8F8F8;
$primary: #EC00B5;
$secondary: #707070;
$light: #D1D1D1;
$dark: #4D4D4D;
$h1-font-size: 3rem;
$h2-font-size: 1.5rem;
$h3-font-size: 1.25rem;
$h4-font-size: 1rem;
$h5-font-size: 0.85rem;
$h6-font-size: 0.7rem;
$btn-padding-y: 0.3rem;
$btn-padding-x: 1rem;
$card-border-radius: 0;
$font-family-sans-serif: 'Open Sans',
sans-serif;
$font-weight-bold: 600;
$font-weight-bolder: 700;
$headings-font-weight: 700;
$body-color: #000;
$progress-border-radius: 0;
$progress-bg: #fff;
$progress-bar-bg: #000;

.active-nav {
    box-shadow: 0 2px 0 0 $primary;
    color: $primary;
}
