$body-bg: #F8F8F8;
$primary: #EC00B5;
$secondary: #707070;
$light: #D1D1D1;
$dark: #4D4D4D;
$h1-font-size: 3rem;
$h2-font-size: 1.5rem;
$h3-font-size: 1.25rem;
$h4-font-size: 1rem;
$h5-font-size: 0.85rem;
$h6-font-size: 0.7rem;
