@import "custom";
@import "~bootstrap/scss/bootstrap-reboot";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/helpers";
@import "~bootstrap/scss/utilities/api";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/progress";

.active-nav {
    box-shadow: 0 2px 0 0 $primary;
    color: $primary;
}

.border-black {
    border-color: #000 !important;
}

.outline-2 {
    outline: 2px solid #D1D1D1;
}

.chapter-gradient {
    background: linear-gradient(90deg, #82FFBC 0%, #FFFFFF 200%);
    border: 2px solid #D1D1D1;
}
